* {
  box-sizing: border-box;
}

#main-title {
  font-weight: bold;
}

#main {
  padding: 2rem;
  color: #1a1919
}

.list {
 margin-left: 2rem;
 margin-top: 1rem;
}

button {
  border: none;
  font-size: large;
  width: 10rem;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button-buy {
  background-color: greenyellow;
  color: green;
}

.button-add {
  background-color: skyblue;
  color: blue;
}
